.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.upload-btn {
  display: flex;
  flex-direction: row;
  background-color: #2a73d9;
  border: 2px solid #2a73d9;
  color: #fff;
  border-radius: 4px;
  width: 10rem;
  align-self: center;
  padding: 5px 0px 5px 20px;
  cursor: pointer;
}

.upload-btn-txt {
  font-size: 0.875rem;
  color: #fff;
  letter-spacing: 0.02rem;
  padding-left: 10px;
  align-self: center;
}

.uploaded-file-txt {
  margin-top: 10px;
  font-size: 1rem;
  color: #0f0;
}

.column--names-included {
  margin-top: 20px;
}

.radio-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.radio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  margin-right: 20px;
}

.radio-btn.selected {
  color: #2a73d9;
}

.viz-btn-container {
  display: flex;
  justify-content: space-around;
}

.viz-btn {
  margin-top: 20px;
  background-color: #2a73d9;
  color: #fff;
  align-self: center;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
  width: 11rem;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}